* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: #2ec59a;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #3c3b3f; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #605c3c, #3c3b3f); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #605c3c, #3c3b3f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
table {
  border-collapse: collapse;
}
table tr {
  border-bottom: 1px solid #2ec59a;
}
table th,
td {
  text-align: center;
  padding: 2px;
}
h1 {
  font-size: 3rem;
  position: relative;
  bottom: 3rem;
}
